version: "3"

services:
  nginx:
    image: nginx
    container_name: 'nginx'
    ports:
      - 8080:80
    volumes:
      - "./frontend/dist:/var/www/public"
      - "./etc/nginx/site.conf:/etc/nginx/conf.d/default.conf"
    depends_on:
      - backend

  backend:
    image: node
    container_name: 'backend'
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - mongo
    env_file: ./dot.env
    volumes:
      - ./backend:/var/www
    working_dir: /var/www
    environment:
      - NODE_ENV=development
      - MONGO_HOST=mongo
      - MONGO_DB=hrello
    command: npm run debug

  mongo:
    image: mongo
    container_name: 'mongo'
    volumes:
      - ./etc/database:/data/db
    restart: always
    ports:
      - "27017:27017"